<h2>Input Employee Information</h2>
<form [formGroup]="employeeForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col">
      <label for="employeeFirstName">Employee First Name</label>
      <input name="employeeFirstName" type="text" formControlName="firstName"/>
    </div>
    <div class="col">
      <label for="employeeLastName">Employee Last Name</label>
      <input name="employeeLastName" type="text" formControlName="lastName"/>
    </div>
  </div>

  <button type="submit">Submit</button>
  <pre>{{ employeeForm.getRawValue() | json }}</pre>
</form>
